@using MVCGrup2.Entities.Concrete
@{
    ViewData["Title"] = "Home Page";
}



@model List<Menu>


<div class="container-fluid">
    

    <h1 class="mt-3 mb-4 text-center" style="color:orangered">Menüs</h1>

    <div class="row">@foreach (var item in ViewBag.Menus)
        {
            <div class="col-md-6 mb-2">
                <div class="card text-center d-flex align-items-center" style="color:orangered">
                    <h4 class="mt-2">@item.Name</h4>

                    <img src="~/Pictures/@item.PictureName" class="img-fluid mx-auto" style="max-width:50%" alt="" />
                </div>
            </div>
        }
        @foreach (var item in Model)
        {
            <div class="col-md-6 mb-2">
                <div class="card text-center d-flex align-items-center" style="color:orangered">
                    <h4 class="mt-2">@item.Name</h4>

                    <img src="~/Pictures/@item.PictureName" class="img-fluid mx-auto" style="max-width:50%" alt="" />
                </div>
            </div>
        }
    </div>

    <a asp-area="Customer" asp-action="Create" asp-controller="Order" class="btn btn-warning d-block mt-4 fw-bold rounded-3" style="color:orange">"Place an order </a>

</div>
