@model MVCGrup2.Entities.Concrete.Cart

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BurgerId" class="control-label"></label>
                <input asp-for="BurgerId" class="form-control" />
                <span asp-validation-for="BurgerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraMatId" class="control-label"></label>
                <input asp-for="ExtraMatId" class="form-control" />
                <span asp-validation-for="ExtraMatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrinkId" class="control-label"></label>
                <input asp-for="DrinkId" class="form-control" />
                <span asp-validation-for="DrinkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MVCGrup2UserId" class="control-label"></label>
                <input asp-for="MVCGrup2UserId" class="form-control" />
                <span asp-validation-for="MVCGrup2UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
