<link rel="preconnect" href="https://fonts.googleapis.com" >
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" >

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-weight: 400 !important;
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    background-color: #FCFCF0;
}



.nav-link.btn {
    background-color: #71A482;
    color: moccasin;
    border-radius: 20px;
    padding: 15px 20px;
    margin: 0 10px;
    transition: background-color 0.3s;
    height: 8vh;
    width: 15vh;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    .nav-link.btn:hover {
        background-color: #ff6b00;
        color: moccasin;
    }