@using MVCGrup2.Entities.Concrete
@using MVCGrup2.Areas.Customer.Models
@model OrderViewModel
@{
    ViewData["Title"] = "Order";
}

<h1>Create</h1>
<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4 mb-3">


  <partial name="_CreatePartialView.cshtml" />
         
  </div>
</div>

@section Scripts {
         Html.RenderPartialAsync("_ValidationScriptsPartial");
    <script>
        function updateTotal(price, itemId) {

            var orderCountInput = document.getElementById("OrderCount_" + itemId);
            var totalSpan = document.getElementById("Total_" + itemId);

            var orderCount = parseInt(orderCountInput.value);
            var totalPrice = orderCount * price;

            totalSpan.innerHTML = totalPrice;
        }
    </script>
}
